<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Login Form Design</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/signup.css">

<body>
    <div class="loginbox">
        <img src="avatar.png" class="avatar">
        <div class="title">SignUp here</div>
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">First Name</span>
                    <input type="text" placeholder="Enter first name" required>
                </div>
                <div class="input-box">
                    <span class="details">Last Name</span>
                    <input type="text" placeholder="Enter last name" required>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" placeholder="Enter password" required>
                </div>
                <div class="input-box">
                    <span class="details">Username</span>
                    <input type="text" placeholder="Enter username" required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" placeholder="Enter email" required>
                </div>
                <div class="input-box">
                    <span class="details">Phone Number</span>
                    <input type="text" placeholder="Enter Phone Number" required>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="sign in">
            </div>

        </form>
    </div>

    
</body>
</head>
</html>